<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanggy.cloud.mapper.RabbitMqMessageMapper">
    <resultMap id="userMap" type="com.yanggy.cloud.entity.RabbitMqMessage">
        <result column="id" property="messageId" jdbcType="VARCHAR"/>
        <result column="message" property="message" jdbcType="VARCHAR"/>
        <result column="exchange" property="exchange" jdbcType="VARCHAR"/>
        <result column="routing_key" property="routingKey" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_Processed" property="isProcessed" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addMessage" parameterType="com.yanggy.cloud.entity.RabbitMqMessage">
        insert into rabbit_mq_message(id, message,exchange, routing_key, type) VALUES (
          #{messageId},#{message},#{exchange},#{routingKey},#{type}
        )
    </insert>

</mapper>