<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanggy.cloud.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.yanggy.cloud.entity.Role">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <result column="roleName" property="roleName" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseColumns">
        id, role, roleName, remark, delete_flag, create_time
    </sql>

    <select id="getRolesByCriteria" resultMap="roleMap">
        select
        <include refid="baseColumns"/>
        from role
        <where>

            <if test="offset >= 0 and pageSize > 0">
                limit #{offset}, #{pageSize}
            </if>
        </where>
    </select>

    <update id="deleteRole" parameterType="java.util.List">
        <if test="list.size() > 0">
            update role set delete_flag = 1
            <where>
                id in
                <foreach collection="list" close=")" open="(" separator="," item="item">
                    #{item}
                </foreach>
            </where>
        </if>
    </update>
</mapper>